# 📦 Dependências
/node_modules

# ⚙️ Build e artefatos
/.next/
.out/
/build
*.tsbuildinfo
next-env.d.ts

# 🧪 Logs e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 🔐 Variáveis de ambiente
.env*
!.env.example

# 🧪 Test coverage
/coverage

# ⚡ Vercel
.vercel

# 💾 Prisma
/prisma/migrations/
.prisma/

# 🚫 Ignorar sub-repositórios locais
/GB-Locacoes/

# 🗑️ IDEs e arquivos temporários
.vscode/
.DS_Store
*.swp
*.swo
